<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{_sections.title}}</title>
  <meta name="description" content="{{_sections.description}}">
  <link rel="stylesheet" href="/build/css/styles.css">

  {{{_sections.head}}}
</head>
<body>
  <main id="app">
    {{{body}}}
  </main>

  <script src="/build/js/scripts.js"></script>
  {{{_sections.body}}}
</body>
</html>